### reference material
reference/*/
!reference/mario_disas

### various places per-run output might go
output/
test/output/

### scratch files which aren't worth persisting upstream
brainstorm/
test/scratch/

### rom files (but I'd like to keep the directory)
roms/*
run/golden_movie.sh
